<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Shopping List</title>

    <script>
    var app = angular.module("myShoppingList", []); 
    app.controller("myCtrl", function($scope) {
        $scope.products = ["Milk", "Bread", "Cheese"];
        $scope.addItem = function () {
            $scope.errortext = "";
            if (!$scope.addMe) {return;}
            if ($scope.products.indexOf($scope.addMe) == -1) {
                $scope.products.push($scope.addMe);
            } else {
                $scope.errortext = "The item is already in your shopping list.";
            }
        }
        $scope.removeItem = function (x) {
            $scope.errortext = "";    
            $scope.products.splice(x, 1);
        }
    });
    </script>
  </head>


  <body> 
    <div class="jumbotron"><h1 class="text-center display-3">My Shopping List</h1></div>

    <div class="container" ng-app="myShoppingList" ng-cloak ng-controller="myCtrl">

      <ul class="list-group">
        <li ng-repeat="x in products" class="list-group-item d-flex justify-content-between align-items-center">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
      </ul>

      <div class="input-group mb-3" style="margin-top: 50px;">
        <input type="text" class="form-control" ng-model="addMe" placeholder="Add shopping items here">
        <div class="input-group-append">
          <button ng-click="addItem()" class="btn btn-primary" type="button" id="button-addon2">Add +</button>
        </div>
      </div>
    </div>

  </body>
</html>